@import 'tailwindcss';

@theme {
  --color-gold-400: #ebcb63;
  --color-gold-500: #d4af37;
  --color-gold-600: #b08d26;

  --color-midnight-900: #0f0f0f;
  --color-midnight-800: #1a1a1a;
  --color-midnight-700: #2a2a2a;

  --font-serif: 'Playfair Display', serif;
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  html,
  body {
    @apply bg-midnight-900 text-gray-100 font-sans antialiased;
  }
}

@layer utilities {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif text-gold-500;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #0f0f0f inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}
